@import "tailwindcss";

@source "../**/*.{vue,ts,tsx,html}";
@source "../../../../apps/dev/**/*.{vue,ts,tsx,html}";

:root {
  --vulse-sidebar-width: 240px;
}

html,
body,
#app {
  height: 100%;
}
body {
  font-family: ui-sans-serif, system-ui, sans-serif;
  color: #18181b;
  background: #fafafa;
}
